
<div class="col-auto" style="padding:4px,10px,2px,10px">
    <div class="row">
        <div class="col border border-dark bg-dark text-white">Present</div>
    </div>
    <div class="row">
        <div class="col border border-dark col-4">
            Full name
        </div>
        <div class="col border border-dark col-2">
            Arrival time
        </div>
        <div class="col border border-dark col-3">
            Arrived
        </div>
        <div class="col border border-dark col-3">
            Departure
        </div>
    </div>
    @foreach (var visitor in PresentVisitors)
    {
        <div class="row">
            <div class="col border border-dark col-4">
                @visitor.FullName
            </div>
            <div class="col border border-dark col-2">
                @if (visitor.ArrivalTime.Value.Date == DateTime.Today)
                {
                    @(visitor.ArrivalTime.Value.ToShortTimeString())
                }
                else
                {
                    @(visitor.ArrivalTime.Value.ToShortDateString() + ' ' + visitor.ArrivalTime.Value.ToShortTimeString())
                }
            </div>
            <button type="button" @onclick="@(() => VisitorArrived.Invoke(visitor, false))"
                    disabled="@(showDialogDeparted == true || showDialogArrived == true)"
                    class="col border border-dark col-3 btn-success shadow-sm rounded">
                Arrived
            </button>
            <button type="button" @onclick="@(() => VisitorDeparted.Invoke(visitor, false))"
                    disabled="@(showDialogDeparted == true || showDialogArrived == true)"
                    class="col border border-dark col-3 btn-danger shadow-sm rounded">
                Departure
            </button>
        </div>
    }
</div>