@page "/"
@inherits VisitorOverviewModel


<div class="text-left bg-blue-100" style="padding-bottom:4em"> Search by name :
    <input class="border-dark" @bind-value="SearchTerm" @bind-value:event="oninput" />
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <div class="row">
                <div class="col col-12 border border-dark bg-dark text-white">Present</div>
            </div>
            <div class="row">
                <div class="col border border-dark col-4">
                    Full name
                </div>
                <div class="col border border-dark col-2">
                    Arrival time
                </div>
                <div class="col border border-dark col-3">
                    Arrived
                </div>
                <div class="col border border-dark col-3">
                    Departure
                </div>
            </div>
            @foreach (var visitor in filterdPresentVisitors)
            {
                <div class="row">
                    <div class="col border border-dark col-4">
                        @visitor.FullName()
                    </div>
                    <div class="col border border-dark col-2">
                        @if (visitor.ArrivalTime != null && visitor.ArrivalTime.Value.Date == DateTime.Today)
                        {
                            @(((DateTime)visitor.ArrivalTime).ToString("T"))
                        }
                        else
                        {
                            @visitor.ArrivalTime
                        }
                    </div>
                    <button type="button" @onclick="@(() => VisitorArrived(visitor, false))" class="col border border-dark col-3 btn-success">Arrived</button>
                    <button type="button" @onclick="@(() => VisitorDeparted(visitor, false))" class="col border border-dark col-3 btn-danger">Departure</button>
                </div>
            }
        </div>
        <div class="col-lg-7">
            <div class="row">
                <div class="col col-12 border border-dark bg-dark text-white"> Not present</div>
            </div>
                <div class="row">
                    <div class="col border border-dark col-4">
                        Full name
                    </div>
                    <div class="col border border-dark col-2">
                        Arrival time
                    </div>
                    <div class="col border border-dark col-2">
                        Departure time
                    </div>
                    <div class="col border border-dark col-2">
                        Arrived
                    </div>
                    <div class="col border border-dark col-2">
                        Departure
                    </div>
            </div>
            @foreach (var visitor in filterdNotPresentVisitors)
            {
                <div class="row">
                    <div class="col border border-dark col-sm-4">
                        @visitor.FullName()
                    </div>
                    <div class="col border border-dark col-sm-2">
                        @if (visitor.ArrivalTime != null && visitor.ArrivalTime.Value.Date == DateTime.Today)
                        {
                            @(((DateTime)visitor.ArrivalTime).ToString("T"))
                        }
                        else
                        {
                            @visitor.ArrivalTime
                        }
                    </div>
                    <div class="col border border-dark col-sm-2">
                        @if (visitor.DepartureTime != null && visitor.DepartureTime.Value.Date == DateTime.Today)
                        {
                            @(((DateTime)visitor.DepartureTime).ToString("T"))
                        }
                        else
                        {
                            @visitor.DepartureTime
                        }
                    </div>
                    <button type="button" @onclick="@(() => VisitorArrived(visitor, false))" class="col border border-dark col-sm-2 btn-success">Arrived</button>
                    <button type="button" @onclick="@(() => VisitorDeparted(visitor, false))" class="col border border-dark col-sm-2 btn-danger">Departure</button>
                </div>
            }
        </div>
    </div>
    <br />
    <div class="row">
        @if (showDialogArrived)
        {
            <div class="col col-2 border border-dark col-auto">Want to override this time? </div>
            <button class="col col-5 border border-dark col-auto btn-success" type="button" @onclick="@(() => VisitorArrived(SelectedVisitor, true))">Yes</button>
            <button class="col col-5 border border-dark col-auto btn-danger" type="button" @onclick="@(() => showDialogArrived = false)">No</button>
        }
        @if (showDialogDeparted)
        {
            <div class="col col-2 border border-dark col-auto">Want to override this time? </div>
            <button class="col col-5 border border-dark col-auto btn-success" type="button" @onclick="@(() => VisitorDeparted(SelectedVisitor, true))">Yes</button>
            <button class="col col-5 border border-dark col-auto btn-danger" type="button" @onclick="@(() => showDialogDeparted = false)">No</button>
        }
    </div>
</div>
<br />
<div>
    <button @onclick="@(() => RedirectToCreatePage())">Add visitor</button>
</div>
<br />
@if (!string.IsNullOrEmpty(Message))
{
    <span class="alert alert-info" style="padding:10px,17px,12px,8px">@Message</span>
}
