@page "/Details/{VisitorId:int}"
@inherits VisitorDetailsModel


@if (Visitor != null)
{
<div>
    <label>First name : @Visitor.FirstName</label>
    <label>Middle name : @Visitor.MiddleName</label>
    <label>Last name : @Visitor.LastName</label>
</div>
}

@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-info">@Message</div>
}

<div>
    <button @onclick="@(() => RedirectToOverview())">Back to overview</button>
</div>