@page "/Details/{VisitorId:int}"
@inherits VisitorDetailsModel


@if (visitor != null)
{
<div>
    <label>First name : @visitor.FirstName</label>
    <label>Middle name : @visitor.MiddleName</label>
    <label>Last name : @visitor.LastName</label>
</div>
}

@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-info">@Message</div>
}

<div>
    <button @onclick="@(() => RedirectToOverview())">Back to overview</button>
</div>