
@page "/"
@inherits VisitorOverviewModel

<div class="text-left bg-blue-100" style="padding-bottom:4em"> Search by name :
    <input class="border-dark" @bind-value="SearchTerm" @bind-value:event="oninput" />
</div>

<div class="slidecontainer">
    <input type="range" min="0" max="2" class="slider" @bind="ListSelection"/>
</div>

@if (ListSelection == 0)
{ 
    <VisitorListUIComponent 
     @ref="PresentComponent"
     Visitors="FilterdPresentVisitors"
     showDialogDeparted="showDialogDeparted" 
     showDialogArrived="showDialogArrived"
     VisitorArrived="OnVisitorArrived"
     VisitorDeparted="OnVisitorDeparted"
     RenderDepartureTime="false"/>
}
@if (ListSelection == 1)
{
    <VisitorListUIComponent
     @ref="NotPresentComponent"
     Visitors="FilterdNotPresentVisitors"
     showDialogDeparted="showDialogDeparted" 
     showDialogArrived="showDialogArrived"
     VisitorArrived="OnVisitorArrived"
     VisitorDeparted="OnVisitorDeparted"
     RenderDepartureTime="true"/>
}

<br/>

    <div class="row">
        @if (showDialogArrived == true)
        {
            <div class="col col-2 border border-dark col-auto">Want to override this time? </div>
            <button class="col col-5 border border-dark col-auto btn-success shadow-sm rounded" type="button" style="" @onclick="@(() => VisitorArrived(SelectedVisitor, true))">Yes</button>
            <button class="col col-5 border border-dark col-auto btn-danger shadow-sm rounded" type="button" style="" @onclick="@(() => showDialogArrived = false)">No</button>
        }
        @if (showDialogDeparted == true)
        {
            <div class="col col-2 border border-dark col-auto">Want to override this time? </div>
            <button class="col col-5 border border-dark col-auto btn-success shadow-sm rounded" type="button" style="" @onclick="@(() => VisitorDeparted(SelectedVisitor, true))">Yes</button>
            <button class="col col-5 border border-dark col-auto btn-danger shadow-sm rounded" type="button" style="" @onclick="@(() => showDialogDeparted = false)">No</button>
        }
    </div>

<br/>

<div>
    <button @onclick="@(() => RedirectToCreatePage())">Add visitor</button>
</div>

<br />

@if (!string.IsNullOrEmpty(Message))
{
    <span class="alert alert-info" style="padding:10px,17px,12px,8px">@Message</span>
}
